build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build

    docker build -f election-commission/Dockerfile -t election-commission:$GIT_COMMIT_ID election-commission 

    docker tag election-commission:$GIT_COMMIT_ID  election-commission:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE},ecserver_endpoint=http://ecserver-gateway-on-demand-mayank-3760.ecserver.43.205.120.178.nip.io/"

    echo "HELM OPT IS: ${HELM_OPTS}"

    helm install ec-${ROOST_NAMESPACE} election-commission -n ${ROOST_NAMESPACE} $HELM_OPTS
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Mayank Gaikwad
lastUpdatedOn: 2023-03-09T08:44:15.090Z
