build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f election-commission/Dockerfile -t election-commission:$GIT_COMMIT_ID election-commission 

    docker tag election-commission:$GIT_COMMIT_ID  election-commission:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |-
    #/bin/sh


    ECSERVER_ENDPOINT="http://ecserver.${ROOST_CLUSTER_IP}.nip.io"


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE},ecserver_endpoint=${ECSERVER_ENDPOINT}"

    helm install election-commission helm-vote -n ${ROOST_NAMESPACE} $HELM_OPTS
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Mayank Gaikwad
lastUpdatedOn: 2023-03-20T17:30:53.402Z
